body {
    background-color: #dddddd;
    margin: 0;
}

nav {
    background-color: #ffffff;
    padding: 1em;
    box-shadow: 0px 5px 3px grey;
}

.page {
    width: 60%;
    margin: auto;
    margin-top: 10px;
}

.wrapper {
    background-color: #ffffff;
    padding: 20px;
    padding-top: 20px;
    box-shadow: 5px 5px 3px grey;
}

.tablink {
    background-color: #dddddd;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

footer {
    color: #333333;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
